.menu_bg_color{
    background-color: #1e293b;
}
.menu{
    width: 20vw;
    height: 100vh;
}

.menu_title{
    color: #f1f5f9;
    text-align: center;
    padding: 20px 0;
}

.menu_title_line{
    width: 100%;
    height: 1px;
    background-color: #f1f5f92b;
}

.nav-link {
  color: #969da3; 
}

.nav-link.active {
  color: #f1f5f9; 
}